.bengkel-pilihan {
  background-color: #fff !important;

  &__location-tags {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    background-color: $neutral-10 !important;
  }

  &__image-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image-content {
      width: px2rem(328);
      height: px2rem(100);
      border-radius: 6px;
      object-fit: cover;
    }
  }

  &__faq-container {
    margin-top: 10px;
  }

  &__content {
    h1 {
      font-weight: 700 !important;
      font-size: 20px !important;
      line-height: 32px;
      color: $primary;
    }

    h2 {
      font-weight: 600 !important;
      font-size: 16px !important;
      line-height: 24px;
      color: $neutral-90;
    }

    h3 {
      font-weight: 600 !important;
      font-size: 16px !important;
      line-height: 24px;
      color: $neutral-90;
    }

    h4 {
      font-weight: 400 !important;
      font-size: 12px !important;
      line-height: 18px;
      color: $neutral-80;
    }

    &__card-main {
      p {
        font-weight: 400 !important;
      font-size: 12px !important;
      line-height: 18px;
      color: $neutral-80;
      }
    }

    &__card-sec {
      a {
        color: $primary !important;
      }

      a,
      p {
        font-weight: 400 !important;
        font-size: 12px !important;
        line-height: 18px;
        color: $neutral-80;
      }
    }
  }
}
