.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $orange !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: $orange !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: $orange !important;
}

.react-toggle--focus .react-toggle-thumb {
  border-color: $orange !important;
  box-shadow: 0 0 2px 3px $orange;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px $orange-light;
}

.react-toggle-thumb {
  border: 2px solid $black-xs;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: $input-bg !important;
  transition: all 0.2s ease;
}

.toggle-primary {
  &.react-toggle--checked {
    .react-toggle-track {
      background-color: $blue !important;
    }

    .react-toggle-thumb {
      border-color: $blue !important;
    }

    &:hover:not(.react-toggle--disabled) {
      .react-toggle-track {
        background-color: $blue !important;
      }
    }
  }

  &.react-toggle--focus {
    .react-toggle-thumb {
      border-color: $blue !important;
      box-shadow: 0px 0px 5px 5px $blue;
    }
  }
}
